<nav class="navbar navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <fullstack-logo></fullstack-logo>
        </div>
        <ul class="nav navbar-nav">
            <li
            ng-repeat="item in items" ng-show="showNavItem(item)">
                <a ui-sref-active="active" ui-sref="{{ item.state }}">{{ item.label }}</a>
            </li>
        </ul>
        <button ng-show="!user" ui-sref="login" class="btn login-button">Login</button>
        <button ng-show="!user" ui-sref="createUser" class="btn createUser-button">Create </button>
        <div ng-show="user" class="welcome">
            <span ui-sref="myUserPage">{{user.name}}</span><span id="portrait" class="glyphicon glyphicon-user"></span>
            <a ng-click="logout()">Logout</a>
        </div>
        <div class="search-bar">
        <!-- <select>
            <option value="">Search by:</option>
            <option ng-repeat="option in searchOptions">{{option}}</option>
        </select> -->
        <input type="text" placeholder="'Dell Laptop'" ng-model="value">
        <input type="submit" ng-click="search()" value="Search"/>
        <pre> {{value}} </pre>
        </div>
    </div>
</nav>
