.single-product {
  padding: 15px;
  width: 80vw;
  margin: auto;
  background: rgba(230, 230, 230, .6);
  text-align: center;
  height: 70vh;

  .images {
    img {
      height: 20vh;
    }
  }

  .currentConfiguration {
    ul {
      list-style-type: none;
    }
  }
}
