navbar {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    display: block;
    #portrait {
        color: grey
    }
    background: white;
    .container {
        width: 91%;
        max-width: 1340px;
        padding-top: 20px;
    }
    fullstack-logo {
        margin-top: 5px;
        margin-right: 20px;
        width: 40px;
    }
    a {
        color: black;
        font-size: 16px;
    }
    .nav > li > a {
        cursor: pointer;
        transition: color 0.2s;
        &.active {
            color: darken(#f31214, 10%);
        }
        .container {
            width: 91%;
            max-width: 1340px;
            padding-top: 20px;
        }
        fullstack-logo {
            margin-top: 5px;
            margin-right: 20px;
            width: 40px;
        }
        a {
            color: black;
        }
        .nav > li > a {
            cursor: pointer;
            transition: color 0.2s;
            &.active {
                color: darken(#f31214, 10%);
            }
            &:hover {
                background: none;
                color: #f31214;
                transform: scale(1.04);
            }
            &:focus {
                background: none;
            }
        }
        .login-button {
            float: right;
            border: 1px solid black;
            margin-top: 10px;
            background: none;
            outline: none !important;
        }
        .createUser-button {
            float: right;
            border: 1px solid black;
            margin-top: 10px;
            background: none;
            outline: none !important;
        }
    }
    .welcome {
        float: right;
        margin-top: 12px;
        div {
            display: inline-block;
            margin-right: 10px;
            &:hover {
                transform: scale(1.1);
                color: #f31214;
                background: none;
            }
        }
        span {
            color: black;
            margin-right: 5px;
        }
        a {
            text-decoration: none;
            color: #f30046;
            cursor: pointer;
        }
    }
}
