$color: #1c9cff;
.qtile {
    color: black;
    display: block-inline;
    width: 100%;
    height: 175px;
    text-align: center;
    /*vertical-align: middle;*/
    padding: 25px;
    border: 15px solid $color;
    box-shadow: 8px 8px 4px #e4e4e4;
    transition: all 0.25s ease;
    float: none;
    margin: 0 auto;
    margin-bottom: 25px;
}

.on,
.qtile:hover {
    background-color: $color;
    border: 15px solid white;
    span {
        color: white;
    }
}

.qlabel {
    text-align: left;
    font-size: 32px;
    padding-bottom: 36px;
    /*font-family: 'David Libre', serif;*/
    font-family: 'Montserrat', sans-serif;
}

.qtext {
    text-align: center;
    font-size: 64px;
    word-wrap: break-word;
    color: $color;
    /*font-family: 'David Libre', serif;*/
    font-family: 'Montserrat', sans-serif;
}

.color {
    color: $color;
}
