$color: #1c9cff;
.qtile {
    height: 175px;
    text-align: center;
    border: 15px solid $color;
    box-shadow: 8px 8px 4px #e4e4e4;
    transition: all 0.25s ease;
    margin-bottom: 50px;
    padding-top: 28px;
}

.on,
.qtile:hover {
    background-color: $color;
    border: 15px solid white;
    span {
        color: white;
    }
}

.qlabel {
    text-align: left;
    font-size: 36px;
    /*font-family: 'David Libre', serif;*/
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 16px;
}

.qtext {
    text-align: center;
    font-size: 54px;
    word-wrap: break-word;
    color: $color;
    /*font-family: 'David Libre', serif;*/
    font-family: 'Montserrat', sans-serif;
}

.color {
    color: $color;
}

#qbuttons {
    height: 84px;
    text-align: center;
    font-size: 36px;
    div > span {
        font-family: 'Montserrat', sans-serif;
    }
    margin-bottom: 16px;
}

#qbuttons div:hover {
    color: $color;
    transition: all 0.25s ease;
    transform: scale(1.1);
}
