<form id="login-form" name="loginForm" ng-submit="searchForOrder(orderTarget)" novalidate>
    <alert type="danger" ng-show="error">
        {{ error }}
    </alert>
    <div class="form-group">
        <label for="name">Filter By Status</label>
        <input type="text" ng-model="searchText" class="form-control" id="name" placeholder="Enter name" required>
    </div>
    <button type="submit" class="btn btn-default" ng-disabled="loginForm.$invalid">Submit</button>
</form>



<table>
    <tr>Orders</tr>
    <tr ng-repeat="order in searchResults|filter:searchText">
        <td>{{order.id}}</td><td>{{order.currentStatus}}</td> <td>{{order.shippingDate}}</td><td>{{order.deliveryDate}}</td>
        <td>
            <button ng-click="changeToProcessing(order)">Processing</button>
            <button ng-click="changeToShipped(order)">Shipped</button>
            <button ng-click="changeToCancelled(order)">Cancelled</button>
            <button ng-click="changeToDelivered(order)">Delivered</button>
        </td>
    </tr>
</table>
</div>
