<section class="single-product">
    <div class="images">
        <img ng-repeat="url in product.imageUrls" class="product-photo" src="{{url}}">
    </div>
    <div class="configuration-selector" style="float:right; margin-right: 50px;">
        <!-- need a way to indicate a configuration is recommended for the usertype -->
        <!-- need to automatically show the default options in the selects -->
        <h2> Upgrade Options: </h2>
        <select ng-show="product.ram.length >= 1" ng-options="item.name for item in product.ram" ng-model="selectedRam"></select>
        <select ng-show="product.cpu.length >= 1" ng-options="item.name for item in product.cpu" ng-model="selectedCpu"></select>
        <select ng-show="product.storage.length >= 1" ng-options="item.name for item in product.storage" ng-model="selectedStorage"></select>
        <select ng-show="product.gpu.length >= 1" ng-options="item.name for item in product.gpu" ng-model="selectedGpu"></select>
        <!-- <pre>{{defaults.ram}}</pre>
        <pre>{{selectedCpu.price}}</pre>
        <pre>{{selectedStorage.price}}</pre>
        <pre>{{selectedGpu.price}}</pre> -->
    </div>
    <h1 class="product-name"> {{product.name}} </h1>
    <h3 class="product-price"> {{product.price}} </h3>
    <p class="product-description"> {{product.description}} </p>
</section>
<!--
- product name
- product photo(s)
- product description
- configuration selector
- recommended configurations
-->
