<section class="single-product">
    <div class="images">
        <img ng-repeat="url in product.imageUrls" class="product-photo" src="{{url}}">
    </div>
    <h1 class="product-name"> {{product.name}} </h1>
    <h3 class="product-price"> {{product.price}} </h3>
    <p class="product-description"> {{product.description}} </p>
    <div class="configuration-selector">
        <!-- need a way to indicate a configuration is recommended for the usertype -->
        <select class="product-ram-upgrade" ng-model="ram">
            <option ng-repeat="option in product.ram">{{option.name}} -- {{option.price}}</option>
        </select>
        <select class="product-cpu-upgrade" ng-model="cpu">
            <option ng-repeat="option in product.cpu">{{option.name}} -- {{option.price}}</option>
        </select>
        <select class="product-storage-upgrade" ng-model="storage">
            <option ng-repeat="option in product.storage">{{option.name}} -- {{option.price}}</option>
        </select>
        <select ng-show="product.gpu" class="product-gpu-upgrade" ng-model="gpu">
            <option ng-repeat="option in product.gpu">{{option.name}} -- {{option.price}}</option>
        </select>

        <pre> {{ram}}</pre>
    </div>
</section>



<!--
- product name
- product photo(s)
- product description
- configuration selector
- recommended configurations
 -->
