<div ng-click="clickTile(comp.id)" class="tile noselect col-lg-3 col-md-6 col-sm-12">
    <div ng-class="{'b-on': comp.active, 'addText': button}" class="btile">
        <div ng-if="!button">
            <div ng-if="build" ng-click="delete(comp.id, $event)" class="remove">
                <i class="glyphicon glyphicon-remove"></i>
            </div>
            <span><small>Cost: ${{comp.total}}</small></span>
            <br/>
            <span><small>{{comp.createdAt | date : MM/DD/YY}}</small></span>
            <br/>
            <span><small>ID: {{comp.id}}</small></span>
        </div>
        <i ng-if="button" class="glyphicon glyphicon-plus"><br><span class="tile-text">Add New</span></i>
    </div>
</div>
